RewriteEngine On

RewriteCond %{REQUEST_METHOD} ^GET$
RewriteRule ^kelc$ controllers/control.php?action=index

RewriteCond %{REQUEST_METHOD} ^POST$
RewriteRule ^kelc$

RewriteCond %{REQUEST_METHOD} ^PUT$
RewriteRule ^kelc$/([0-9]+)$ controllers/control.php?action=update&id=$1

RewriteCond %{REQUEST_METHOD} ^DELETE$
RewriteRule ^kelc$/([0-9]+)$ controllers/control.php?action=delete&id=$1
