/* * {
  background-color: #332c45;
} */

@media screen and (max-width: 700px) {
  #sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  #sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  #sidebar a {
    text-align: center;
    float: none;
  }
}

  .container-fluid {
    /* border: 5px dashed red; */
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    font-family: 'Amatic SC', cursive;
    background-color: #31374f;
  }

  .header {
    /* border: 5px dashed black; */
    background-color: #31374f;
    padding: 10px;
    width: 100%;
    height: auto;
    position: relative;
  }

  h1 {
    text-align: right;
    font-size: 90px;
    font-weight: bolder;
    letter-spacing: 30px;
    color: #ffdfca;
    text-shadow: 5px 4px #51a9a7;
  }

  #sidebar {
    width: 233px;
    background-color: #408156;
    color: white;
    position: fixed;
    height: 100%;
    overflow: auto;
  }

  #sidebar a {
  display: block;
  color: white;
  padding: 40px;
  text-decoration: none;
  letter-spacing: 15px;
  font-weight: 900;
  font-size: 22px;
  text-align: center;
  }

  #sidebar a:hover {
    color: #93a31c;
  }

  h3 {
    text-align: center;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    margin: 10px;
  }

  .about {
    /* border: 5px solid black; */
    display: flex;
    flex-direction: column wrap;
    color: white;
    font-weight: bolder;
    font-size: 28px;
    position: relative;
    margin: 10px 260px;
  }

  .about img {
    border-radius: 10px;
    margin: 10px;
    width: 80%;
    height: auto;
  }

  .contact {
    margin: 10px;
    position: relative;
  }

  .contact form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 16px;
    border-radius: 10px;
    margin: 10px;
    background-color: gold;
  }

  h5 {
    text-align: center;
    font-weight: bolder;
    margin: 10px;
    font-size: 28px;
    letter-spacing: 10px;
  }

  input {
    margin: 5px;
    width: 200px;
    border: none;
  }

  textarea {
    margin: 5px;
    width: 300px;
    border: none;
  }

  .styles {
    /* border: 5px dashed black; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: flex-start;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #bd2a34;
    position: relative;
    width: 800px;
    height: auto;
  }

  .styles img {
    /* border-radius: 100%; */
    align-content: center;
    margin: 10px;
    width: auto;
    height: 200px;
  }

  .styles input {
    font-size: 16px;
    width: 200px;
    margin: 10px;
  }

  footer {
    /* border-radius: 10px; */
    background-color: #ffdfca;
    color: #51a9a7;
    text-shadow: 2px 3px white;
    text-align: right;
    width: 100%;
    padding: 10px;
    font-size: 24px;
  }
